.todo-input {
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.filters button {
  margin: 0 0.5rem;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.filters .selected {
  border-bottom: 2px solid tomato;
}
